body {
    background-color: #1f372e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}   

.todo {
    margin: 0;
    width: 100%;
}

/*Parte del header*/
.header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo a {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.links {
     display: flex;
     gap: 16px;
     color: rgba(255, 255, 255, 0.797);
     
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.797);
}


/*Parte Faq Info*/

.contfaq{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45vh;
    padding-top: 30px;
    gap: 16px;
    padding-bottom: 100px;  
}

#faqinfo{
display: flex;
flex-direction: column;
}

#faqtxt{
    color: rgba(255, 255, 255, 0.797);
    margin-top: -15px;
    margin-left: 4.5px; 
}

#faqtxt a{
    text-decoration: underline;
}

#faqtit > h1{
    font-size: 48px;
    color: white;
}

#faqimg img{
display: flex;
height: 340px;
}



/*Parte Faq*/

.contpreg {
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-color: white;
    align-items: center;
    
}

#titulopreg{
    display: flex;  
    margin-bottom: 8px;
}


#titulopreg h1{
    font-weight: 900;
    font-size: 35px;
 
}

#faqs {
    display: flex;
    width: 80%;
    flex-direction: column;
    border: solid #2fc684;
    border-radius: 12px;
    padding: 2%;
}


