body {
    background-color: #1f372e;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}

.todo {
    margin: 0;
    width: 100%;
}

/*Parte del header*/
.header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
}

.links {
     display: flex;
     gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.797);
}



/*Debajo Header*/

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 30px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.c1izq {
    display: flex;
    flex-direction: column;
    padding: 8px;
    
    
}

.c1izq > h1 {
    font-size: 48px;
    color: white;
}

p{
    display: flex;
    
    margin-top: -15px;
    margin-left: 4.5px;
    color: rgba(255, 255, 255, 0.797);
}

.c1dcha > img {
    margin-top: 50px;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

button {
    width: 260px;
    height: 35px;
    margin-left: 3px;
    background-color: #2fc684;
    color: white;
    border-radius: 6px;
    padding: 15px px;
    font-weight: 700;
    text-align: center;
}

.c1izq h1, .c1izq p {
    white-space: nowrap;
 } 

/*Parte info*/

.contenedor2 {
    display: flex;
    max-width: 100%;
    max-width: 100%;
    margin: 0;
    height: 500px;
    justify-content: center;
    background-color: white;
    
}


.subtit h1 {
    margin-top: 50px;
    display: flex;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.imgstxt {
    display: flex;
    align-items: center;
    
}

.imgs {
    display: flex;
    height: 300px;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.col > img {
    height: 200px;
    width: 200px;
    border: solid  #2fc684;
    border-radius: 25px;
    border-width: 5px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 22px;

    
}

.txt {
    display: flex;
    text-align: center;
    margin-top: 10px;
    height: 100px;
    width: 200px;
    gap: 8px;
    word-wrap: break-word;
    color: rgba(87, 86, 86, 0.797);
    font-size: 18px;
}



/*Parte cita*/

.contenedor3 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

    
}

.contenedor31 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.cita {
    display: flex;
    word-wrap: break-word;
    width: 760px;
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;

}

.autor {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    margin-top: 16px;
    font-weight: 900;
    font-size: 20px;
}


/*Parte anuncio*/

.contenedor4 {
    display: flex;
    background-color: white;
    max-width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.contv {
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 900px;           
    background-color: #2fc684;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.coni {
    display: flex;
    flex-direction: column;

}

.cond {
    display: flex;

}

.cond > button {
    border: solid white;
}

/*Parte copyright*/

.contenedor5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f372e;
    max-width: 100%;
    height: 100px;
}

.copy {
    color: white;
}

