body {
    background-color: #1f372e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}   

.todo {
    margin: 0;
    width: 100%;
}


/*Parte del header*/
.header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo a {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.links {
     display: flex;
     gap: 16px;
     color: rgba(255, 255, 255, 0.797);
     
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.797);
}































/*Parte planes*/

.contenedor6 {
    background-color: #F4F4F4;
    padding: 60px 0;
}

.subcont6 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.subtit h1 {
    font-size: 48px;
    margin-bottom: 60px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.precios {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.plan {
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.plan h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.plan p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.precio {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #50C878;
}


/*Parte copyright*/

.contenedor5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f372e;
    max-width: 100%;
    height: 100px;
}

.copy {
    color: white;
}
