body {
    background-color: #1f372e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.todo {
    margin: 0;
    width: 100%;
}

/*Parte del header*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo a {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.links {
     display: flex;
     gap: 16px;
     color: rgba(255, 255, 255, 0.797);
     
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.797);
}



/*Parte Info contacto*/

#continfo {
    display: flex;
    max-width: 100%;
    height: 55vh;
    border: solid red;
    padding: 10px;
}

/*Parte formulario*/

#contform {
    background-color: white;
    padding: 15px;
}


#formulario1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 55vh;
    background-color: white;
    border-radius: 10px;
    border: solid #2fc684;
    box-sizing: border-box;
    
}

#formulario1 li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 40px;
    
}

#formulario1 button{
    align-self: self-end;
    width: 100px;
    height: 35px;
    background-color: #2fc684;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 40px;
}


textarea {
    resize: none;
    width: 300px;
    height: 100px;
}


/*Parte copyright*/

.contenedor5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f372e;
    max-width: 100%;
    height: 100px;
}

.copy {
    color: white;
}